body{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

*{
    box-sizing: border-box;
}

.list{
    font-size: 0;
}


.list-item:hover .list-link{
    background-color: rgb(68, 68, 255);
}

.sublist-item:hover .sublist-link{
    background-color: rgb(49, 47, 47);
}

.list-item{
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    position: relative;
}

.list-item:hover .sublist{
    display: block;
}

.list-link{
    text-decoration: none;
    display: block;
    padding: 20px 30px;
    background-color: rgb(49, 47, 47);
    color: rgb(233, 217, 217);
}

.list-link:hover{
    background-color: rgb(68, 68, 255);
}


.sublist{
    position: absolute;
    display: none; 
    width: 250px;
}

.sublist-link{
    text-decoration: none;
    display: block;
    background-color: rgb(68, 68, 255);
    color: rgb(233, 217, 217);
    padding: 30px 72px;
}

.sublist-link:hover{
    background-color: rgb(49, 47, 47);
}

.sublist-item{
    position: relative;
}

.subsublist-link{
    text-decoration: none;
    display: block;
    background-color: rgb(182, 152, 97);
    color: rgb(233, 217, 217);
    padding: 30px 60px;
    text-align: center;
}

.subsublist-link:hover{
    background-color: rgb(49, 47, 47);
}


.subsublist{
    position: absolute;
    display: none;
    width: 200px;
    top:0; 
    left: 250px;
    right:0; 
    bottom:0;
}

.sublist-item:hover .subsublist{
    display: block;
}