*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    
}

.clearfix { 
    clear: both; 
}

.list{
    font-size: 0;
}
.list-item{
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    position: relative;
}
.list-link{
    text-decoration: none;
    display: block;
    padding: 5px 15px;
    background-color: red;
    color:white;
}

.list-link:hover{
    background-color: rebeccapurple;
}

.sub-list-link{
    text-decoration: none;
    display: block;
    color:pink;
    background-color: rebeccapurple;
    padding: 3px 15px;
    font-size: 13px;
}

.sub-list-link:hover{
    background-color: red;
}

.sub-list{
    position: absolute;
    left:0;
    display: none;
}

.list-item:hover .sub-list{
    display: block; 
}

.list-item:hover .list-link{
    background-color: purple;
}


