body{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

*{
    box-sizing: border-box;
}

.list{
    font-size: 0;
}

.list-item{
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
}

.list-link{
    text-decoration: none;
    display: block;
    padding: 20px 30px;
    background-color: rgb(49, 47, 47);
    color: rgb(233, 217, 217);
}

.list-link:hover{
    background-color: rgb(68, 68, 255);
}


.sublist-link{
    text-decoration: none;
    display: block;
    background-color: rgb(68, 68, 255);
    color: rgb(233, 217, 217);
    padding: 20px 30px;
}

.sublist-link:hover{
    background-color: rgb(49, 47, 47);
}

.subsublist-link{
    text-decoration: none;
    display: block;
    background-color: rgb(68, 68, 255);
    color: rgb(233, 217, 217);
    padding: 20px 30px;
}

.subsublist-link:hover{
    background-color: rgb(49, 47, 47);
}
